<form method="post" action="{{ path('app_medicament_delete', {id: medicament.id}) }}" onsubmit="return confirm('Supprimer ce médicament ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ medicament.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
