DROP TABLE medecin;
DROP TABLE patient;
ALTER TABLE audit_log CHANGE field_name field_name VARCHAR(255) DEFAULT NULL, CHANGE changed_by changed_by VARCHAR(255) DEFAULT NULL;
ALTER TABLE categorie CHANGE description description VARCHAR(255) DEFAULT NULL;
ALTER TABLE consultation DROP FOREIGN KEY `FK_964685A64F31A84`;
ALTER TABLE consultation DROP FOREIGN KEY `FK_964685A66B899279`;
ALTER TABLE consultation ADD rendez_vous_id INT DEFAULT NULL;
ALTER TABLE consultation ADD CONSTRAINT FK_964685A64F31A84 FOREIGN KEY (medecin_id) REFERENCES user (id);
ALTER TABLE consultation ADD CONSTRAINT FK_964685A66B899279 FOREIGN KEY (patient_id) REFERENCES user (id);
ALTER TABLE consultation ADD CONSTRAINT FK_964685A691EF7EAA FOREIGN KEY (rendez_vous_id) REFERENCES rendez_vous (id);
CREATE UNIQUE INDEX UNIQ_964685A691EF7EAA ON consultation (rendez_vous_id);
ALTER TABLE disponibilite DROP FOREIGN KEY `FK_2CBACE2F4F31A84`;
ALTER TABLE disponibilite ADD CONSTRAINT FK_2CBACE2F4F31A84 FOREIGN KEY (medecin_id) REFERENCES user (id);
ALTER TABLE evenement CHANGE budget_alloue budget_alloue NUMERIC(10, 2) DEFAULT NULL;
ALTER TABLE participant_evenement CHANGE telephone telephone VARCHAR(20) DEFAULT NULL, CHANGE date_confirmation date_confirmation DATETIME DEFAULT NULL;
DROP INDEX UNIQ_IDENTIFIER_NOM ON user;
ALTER TABLE user ADD image VARCHAR(255) DEFAULT NULL, ADD type VARCHAR(20) NOT NULL, ADD date_naissance DATE DEFAULT NULL, ADD genre VARCHAR(20) DEFAULT NULL, ADD groupe_sanguin VARCHAR(5) DEFAULT NULL, ADD adresse LONGTEXT DEFAULT NULL, ADD image_patient VARCHAR(255) DEFAULT NULL, ADD specialite VARCHAR(255) DEFAULT NULL, ADD matricule VARCHAR(255) DEFAULT NULL, ADD service VARCHAR(255) DEFAULT NULL, ADD image_medecin VARCHAR(255) DEFAULT NULL, ADD service_entity_id INT DEFAULT NULL, CHANGE telephone telephone VARCHAR(20) DEFAULT NULL, CHANGE roles roles JSON NOT NULL;
ALTER TABLE user ADD CONSTRAINT FK_8D93D649D9B44717 FOREIGN KEY (service_entity_id) REFERENCES service (id);
CREATE UNIQUE INDEX UNIQ_8D93D649E7927C74 ON user (email);
CREATE INDEX IDX_8D93D649D9B44717 ON user (service_entity_id);
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
