{% extends 'back.html.twig' %}

{% block title %}Modifier le paramètre vital{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Modifier le paramètre vital</h6>
                </div>
                <div class="card-body">
                    {{ include('parametre_vital/_form.html.twig', {'button_label': 'Modifier'}) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
